.app-container {
  padding: 3px;
  background: #eee;
  position: relative;
  width: 100vw;
  height: auto;
  padding: 15px 15px 0 15px;
  & .message-list {
    height: 90vh;
    overflow: auto;
  }
  & .message-form {
    position: fixed;
  }
}